.footer {
  margin-top: 92px;
}

.footer__copyright {
  text-align: center;
  padding-bottom: 24px;
  margin: 0 auto;
}

.footer__copyright {
  max-width: 166px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  margin-top: 88px;
  padding-bottom: 24px;
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
  }
}
