.intro {
  /*definir a largura maxima, margem e fonte do elemento intro*/
  font-family: "Inter";
  max-width: 984px;
  margin: 0 auto;
}

.intro__title {
  /*definir a aparencia do titulo da introducao*/
  font-family: "Inter";
  font-weight: 900;
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;


}

.intro__subtitle {
  /*definir a aparencia do subtitulo da introducao*/
  max-width: 738px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

.intro__text-autor {
  /*definir a aparencia do autor da introducao*/
  font-size: 24px;
  max-width: 732px;
  text-align: right;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  margin-top: 10px;
  text-align: right;
}

.intro__text {
  /*definir a aparencia do texto da introducao*/
  max-width: 738px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

.intro__text-small {
  max-width: 722px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
  margin-top: 32px;
}

/*Responsividade para diferentes tamanhos de tela*/
@media screen and (max-width: 1280px) {

  /*TELAS min768px VALIDADO*/
  .intro__title {
    font-family: "Inter";
    font-weight: 900;
    font-size: 45px;
    line-height: 49px;
    letter-spacing: 0%;
    padding-left: 24px;
    padding-right: 37px;
  }


  .intro__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    margin-top: 50px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .intro__text-autor {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;
    padding-right: 24px;
    padding-left: 24px;
  }

  .intro__text-small {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    margin-top: 32px;
    margin-right: 24px;
    margin-left: 24px;
  }

}

@media screen and (max-width: 544px) {
  /*TELAS min320px*/

  .intro__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0%;
    margin-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .intro__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-top: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .intro__text-autor {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .intro__text-small {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }
}