.intro {
  max-width: 984px;
  margin: 0 auto;
}

.intro__title {
  font-weight: 900;
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  margin-top: 92px;
}

.intro__text {
  max-width: 738px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

.intro__text-autor {
  font-size: 24px;
  max-width: 732px;
  text-align: right;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  margin-top: 10px;
}

.intro__text-small {
  max-width: 722px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
  margin-top: 32px;
}

@media screen and (max-width: 1280px) {
  .intro__title {
    max-width: 707px;
    font-weight: 900;
    font-size: 45px;
    line-height: 49px;
    letter-spacing: 0%;
    margin-top: 90px;
    margin-left: 24px;
    margin-right: 37px;
  }

  .intro__text {
    max-width: 720px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    margin-top: 50px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .intro__text-autor {
    max-width: 720px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;
    padding-right: 24px;
    padding-left: 24px;
  }

  .intro__text-small {
    max-width: 720px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    margin-top: 32px;
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 544px) {
  .intro__title {
    line-height: 30px;
    letter-spacing: 0%;
    margin-top: 64px;
    font-weight: 900;
    font-size: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .intro__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-top: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .intro__text-autor {
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    line-height: 163%;
    letter-spacing: 0%;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .intro__text-small {
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
