.lead {
  /*definir a aparencia do titulo principal da pagina*/

  margin: 90px auto 92px;
}

/*definir a largura maxima e a margem do elemento lead*/

.lead__title {
  /*definir a aparencia do titulo da pagina*/
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  max-width: 720px;
  margin: 0 auto;
}

.lead__subtitle {
  /*definir a aparencia do subtitulo da pagina*/
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

/*definir a aparencia do subtitulo da pagina*/

.lead__image {
  /*definir a largura da imagem como 100% do elemento pai*/
  width: 984;
  height: 615;
  opacity: 1;
  top: 562px;
  left: 148px;
 padding-left: 148px;
 padding-right: 148px;

}

/*Responsividade para diferentes tamanhos de tela*/
@media screen and (max-width: 1024px) {
  .lead {
    margin: 0 auto;
  }

  .lead__title {
    font-weight: 900;
    font-size: 75px;
    line-height: 79px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 90px;
  }

  .lead__subtitle {
    /*max-width: 720px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px; */


    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;

  }

  .lead__image {
    max-width: 768px;
    height: 480;
    opacity: 1;
    mix-blend-mode: Matiz;

    color: #2a2c2f;
    margin: 0 auto;
    background-color: cover;
    justify-content: center;
    background: linear-gradient(0deg, #000000, #000000),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  }
}


@media screen and (max-width: 544px) {
  .lead__title {
    max-width: 228px;
    margin-top: 50px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
  }

  .lead__subtitle {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    letter-spacing: 0%;
    margin-top: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .lead__image {
    /*definir a largura da imagem como 100% do elemento pai*/
    width: 320px;
    height: 200;
    opacity: 1;
    top: 306px;

  }
}