.lead {
  /*definir a aparencia do titulo principal da pagina*/
  margin: 90px auto 92px;
  font-family: "Inter", Arial, sans-serif;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*definir a largura maxima e a margem do elemento lead*/

.lead__title {
  /*definir a aparencia do titulo da pagina*/
  
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 90px;
}

.lead__subtitle {
  /*definir a aparencia do subtitulo da pagina*/
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  height: 72px;
  margin-top: 32px;
}

/*definir a aparencia do subtitulo da pagina*/

.lead__image {
  /*definir a largura da imagem como 100% do elemento pai - AJUSTADO 1280px */
  width: 984px;
  opacity: 1;
}

/*Responsividade para diferentes tamanhos de tela*/
@media screen and (max-width: 1024px) {

  /*TELAS min768px*/
  .lead {
    margin: 0 auto;
  }

  .lead__title {
    font-size: 75px;
    line-height: 79px;
    letter-spacing: 0%;
  }

  .lead__subtitle {
    /*REVISADO 768px*/
    font-size: 30px;
  }

  .lead__image {
    max-width: 768px;
    height: 480;
    opacity: 1;
    mix-blend-mode: Matiz;
    color: #2a2c2f;
    margin: 0 auto;
    background-color: cover;
    justify-content: center;
    background: linear-gradient(0deg, #000000, #000000),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    padding: 0;
  }
}


@media screen and (max-width: 544px) {

  /*TELAS min320px*/
  .lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 50px;
    padding-left: 46px;
    padding-right: 46px;
  }

  .lead__subtitle {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;

    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .lead__image {
    /*definir a largura da imagem como 100% do elemento pai*/
    width: 320px;
    opacity: 1;
    top: 306px;
    padding: 0;
    margin-top: 40px;
    color:#000000;

  }
}