.logo {
    margin-top: 34px;
}

@media screen and (max-width : 1024px){
.logo{
    margin-top: 30px;
}
}

@media screen and (max-width: 544px){
.logo {
    margin-top: 20px;
    margin-left: 66px;
    margin-right: 66px;
}
}