.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "title artists" "image paragraph" "nft paragraph";
    padding-left: 148px;
    padding-right: 148px;
    gap: 48px 40px;
    font-family: "Inter", Arial, sans-serif;
    margin-top: 80px;
}

.place__title {
    grid-area: title;
    align-self: end;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
}

.place__image {
    width: 100%;
    object-fit: cover;
    display: block;
    grid-area: image;
    box-shadow: 5px 5px 10px 0px #00000040;
}

.place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;
    color: #AAAAAA;
}

.place__artist {
    grid-area: artists;
    align-self: end;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;

}

.place__artist-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    margin: 0;

}

.place__paragraphs {
    grid-area: paragraph;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    letter-spacing: 0%;
    gap: 25px;
}

.place__paragraph {
    margin-top: 0;
}

.place__link {
    grid-area: nft;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    height: 48px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    max-width: 356.08px;
    box-shadow: 5px 5px 10px 0px #00000040;
}