@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2");
  font-weight: 400;
}

h1 {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
}

body {
  margin: 0;
}

.page {
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter";
  max-width: 1280px;
  margin: 0 auto;
}

.lead {
  max-width: 984px;
  margin: 0 auto;
}

.header__logo {
  max-width: 254px;
  max-height: 70px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  padding-top: 34px;
  width: fit-content;
  height: fit-content;
}

.lead__image {
  width: 100%;
  color: #2a2c2f;
  margin: 0 auto;
  background-color: cover;
  justify-content: center;
}

.lead__title {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 90px;
  font-family: Inter;
  font-weight: 900;
  font-style: Black;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
}

.lead__subtitle {
  text-align: center;
  font-size: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 720px;
  margin: 32px auto 64px;
  font-family: Inter;
  letter-spacing: 0%;
}

.intro {
  max-width: 984px;
  margin: 0 auto;
}

.intro__title {
  font-weight: 900;
  max-width: 830px;
  font-family: Inter;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  margin-top: 92px;
}

.intro__text {
  max-width: 738px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

.intro__text-autor {
  font-size: 24px;
  max-width: 732px;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0%;
  margin-top: 10px;
}

.intro__text-small {
  max-width: 722px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
  margin-top: 32px;
}

.footer {
  margin-top: 92px;
}

.footer__copyright {
  text-align: center;
  padding-bottom: 24px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .lead {
    max-width: 768px;
    margin: 0 auto;
  }

  .header {
    padding-top: 34px;
  }

  .lead__image {
    width: 100%;
    color: #2a2c2f;
    margin: 0 auto;
    background-color: cover;
    justify-content: center;
  }

  .lead__title {
    font-weight: 900;
    font-size: 75px;
    line-height: 79px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 90px;
    max-width: 530px;
  }

  .lead__subtitle {
    max-width: 720px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
  }

  .intro__title {
    max-width: 707px;
    font-weight: 900;
    font-size: 45px;
    line-height: 49px;
    letter-spacing: 0%;
    margin-top: 90px;
    margin-left: 24px;
    margin-right: 37px;
  }

  .intro__text {
    max-width: 720px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    margin-top: 50px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .intro__text-autor {
    max-width: 720px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;
    padding-right: 24px;
    padding-left: 24px;
  }

  .intro__text-small {
    max-width: 720px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    margin-top: 32px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .footer__copyright {
    max-width: 166px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    margin-top: 88px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    max-width: 720px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
  }

  .lead__subtitle {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    letter-spacing: 0%;
    margin-top: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .intro__title {
    line-height: 30px;
    letter-spacing: 0%;
    margin-top: 64px;
    font-family: Inter;
    font-weight: 900;
    font-size: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .intro__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-top: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .intro__text-autor {
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    line-height: 163%;
    letter-spacing: 0%;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .intro__text-small {
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
  }

  .header {
    padding-top: 20px;
  }

  .header__logo {
    width: 188px;
    height: 52px;
    
  }
}
